In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import pyreadstat
import pickle

In [127]:
__PATH_to_FILE__ = "YOUR PATH HERE"
os.chdir(__PATH_to_FILE__)

In [128]:
df = pd.read_csv("full_ds.csv")
df.head()

,TripID,SurveyYear,DayID,IndividualID,TravDay,NumStages,MainMode_B04ID,TripPurpose_B04ID,TripDisIncSW_B01ID,TripPurpFrom_B01ID,...,NumVehicles,StationKmTRACC,WalkRailAlt_B01ID,HRPWorkStat_B02ID,HRPSEGWorkStat_B01ID,BusStandard_B01ID,Age_B04ID,OfPenAge_B01ID,Sex_B01ID,CarAccess_B02ID
0,2002000284,2002,2002000128,2002000019,2,1,3,3,5,23,...,2.0,-10.0,-9,1,1,1,6,2,2,1
1,2002000285,2002,2002000128,2002000019,2,1,3,3,1,20,...,2.0,-10.0,-9,1,1,1,6,2,2,1
2,2002000286,2002,2002000128,2002000019,2,1,3,6,5,20,...,2.0,-10.0,-9,1,1,1,6,2,2,1
3,2002000287,2002,2002000128,2002000019,2,1,3,3,5,1,...,2.0,-10.0,-9,1,1,1,6,2,2,1
4,2002000288,2002,2002000128,2002000019,2,1,3,3,1,20,...,2.0,-10.0,-9,1,1,1,6,2,2,1

In [129]:
df = df[df.SurveyYear > 2014]

In [130]:
df = df.drop(["JTTXSC", "TripDisIncSW_B01ID", "BusStandard_B01ID", "HHIncOrig_B01ID", "HHoldCountry_B01ID", "HouseholdID", "HHIncome2002_B02ID", "IndividualID", "SurveyYear", 'DayID', "WalkRailAlt_B01ID", "StationKmTRACC",
                       "TripTravTime"], axis = 1)

In [131]:
dummies = ['MainMode_B04ID', 'TripPurpose_B04ID', "TravDay", 'TripPurpFrom_B01ID', 'TripPurpTo_B01ID', 
           'TripStart_B01ID', 'TWSWeek', 'HRPWorkStat_B02ID', 'HRPSEGWorkStat_B01ID', 'Age_B04ID',
           'OfPenAge_B01ID', 'Sex_B01ID', 'CarAccess_B02ID']

In [134]:
non_dummies = [i for i in df.columns if i not in dummies]   # 'TripTravTime' is target

In [135]:
non_dummies

['TripID',
 'NumStages',
 'JD',
 'TripTotalTime',
 'HHoldNumAdults',
 'HHoldNumChildren',
 'NumVehicles']

In [136]:
df_init = df

In [137]:
df.shape

(26279, 20)

In [138]:
dummies_df = pd.get_dummies(df["MainMode_B04ID"], drop_first=True, prefix="MainMode_B04ID")
for i in dummies[1:]:
    dummies_new = pd.get_dummies(df[i], drop_first=True, prefix=i)
    dummies_df = pd.concat([dummies_df, dummies_new], axis=1)

In [140]:
dummies_df.head()

,MainMode_B04ID_2,MainMode_B04ID_3,MainMode_B04ID_4,MainMode_B04ID_5,MainMode_B04ID_6,MainMode_B04ID_7,MainMode_B04ID_8,MainMode_B04ID_9,MainMode_B04ID_10,MainMode_B04ID_11,...,Age_B04ID_6,Age_B04ID_7,Age_B04ID_8,Age_B04ID_9,OfPenAge_B01ID_1,OfPenAge_B01ID_2,Sex_B01ID_2,CarAccess_B02ID_2,CarAccess_B02ID_3,CarAccess_B02ID_4
189024,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
189025,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
189026,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
189027,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
189028,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [81]:
target_variable = df.TripTotalTime

In [141]:
numeric_df = df_init[["TripTotalTime", 'NumStages', 'JD', 'HHoldNumAdults', 'HHoldNumChildren', 'NumVehicles']]

In [115]:
all_var_df = pd.concat([numeric_df, dummies_df], axis=1)

In [142]:
all_var_df.to_csv("trip_travel_2015.csv", index=False)